$lightColorText: #fff;
$darkColorTitle: #2D3033;
$darkColorText: #6C7279;
$colorTextDownload: #000;
$buttonBackgroudColor:  #FF4343;
$buttonHoverBackgroudColor: #E71414;
$buttonActiveBackgroundColor:#FF4343;

$fzH1: 6.4rem;
$fzH1Tablet: 4.8rem;